div class="autocomplete-select">
    <h2>Skills</h2>
    <div class="multi-select__select multi-select__select--multiple">
      <span class="multi-select__label">
      <span class="multi-select__selected-label">
        "Arabic"
        <i class="fa fa-times" data-value="Ar">...</i>
      </span> 
      </span><textarea id="skill" name="skill">
      <div class="multi-select_options" style="top: 55px;">
        <input type="text" name="skill" id="skill" class="multi-select__autocomplete">
        <div class="multi-select_option multi-select_option--active" data-value="En">English</div>
        <div class="multi-select_option multi-select_option--selected" data-value="Ar">Arabic</div>
        <div class="multi-select_option" data-value="En1">English1</div>
        <div class="multi-select_option" data-value="Ar1">Arabic1</div>
        <div class="multi-select_option" data-value="En2">English2</div>
        <div class="multi-select_option" data-value="Ar2">Arabic2</div>
        <div class="multi-select_option" data-value="Ar3">Arabic3</div>
        <div class="multi-select_option" data-value="En3">English3</div>
        <div class="multi-select_option" data-value="Ar3">Arabic3</div>
      </div></textarea>
    </div>
  </div>